<!DOCTYPE html>
<html lang="ru" class="main">
<head>
	<meta charset="utf-8">
	<title>{% if title is defined%}{{ title }} &ndash; {% endif %}Админка instudies</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{{ url }}/assets/css/bootstrap.css">
	<link rel="stylesheet" href="{{ url }}/assets/css/style.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ url }}/js/bootstrap.js"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li {%block menu_statistics_attr%}{%endblock%}>
                                            <a href="{{path('admin_statistics')}}">Статистика</a></li>
					<li {%block menu_management_attr%}{%endblock%}>
                                            <a href="{{path('admin_management')}}">Управление</a></li>
				</ul>
				<a class="brand" href="">instudies</a>
			</div>
		</div>
	</div>
	
        {%block submenu%}
        {%endblock%}
        {#{%block submenu_statistics%}
        <ul class="nav nav-pills statistics">
                <li><a href="#">Активность пользователей</a></li>
                <li><a href="#">Активность групп</a></li>
                <li><a href="#">Активные пользователи</a></li>
                <li><a href="#">Счетчики</a></li>
        </ul>
        {%endblock%}
        {%block submenu_management%}
        <ul class="nav nav-pills admin">
                <li class="active"><a href="{{ path('admin_management_user') }}">Управление пользователями</a></li>
        </ul>
        {%endblock%}#}
	

	<div class="container">

		{% block content %}{% endblock %}

	</div>

</body>
</html>
